<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password</title>

    <style>
            body{
                background-color:aqua;
        }

            body{
                text-align:center;
                color:white;
        }
            div.password{
                padding:0 40%;
        }
            body a{
                color:white;
                text-decoration:none;
        }

            body a:hover{
                background-color:green;
        }

    </style>
</head>
<body>

    <h1>Your Password is:</h1>
    <div class="password"><h2 style="background-color:#0000FF">{{password}}</h2></div>


    <a href="{%  url 'home' %}">Home</a>

</body>
</html>